---
---
@charset "utf-8";

// #### Define defaults for each variable.

$base-font-family:  'Roboto', Helvetica, Arial, sans-serif !default;
$base-font-size:    18px !default;
$base-font-weight:  400 !default;
$base-line-height:  1.765 !default;


// Colors. #E0EBF5 #375eab
$background-color:  #fff;
$base-color:        #414141;
$link-color:        #375eab;

$spacing-unit:      32px !default;

$laptop:            960px !default;
$palm:              600px !default;


@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
}

// #### Basic layout

*, *:before, *:after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html, body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $base-font-weight;
    line-height: $base-line-height;
    background-color: $background-color;
    color: $base-color;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include media-query($palm) {
        font-size: 15px;
    }
}
img, video {
    max-width: 100%;
    vertical-align: middle;
}
ul {
    // list-style: none;
}
a {
    color: $link-color;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
code.highlighter-rouge {
    background-color: #FFFFD8;
    padding: 0 2px;
}
pre {
    color: #333;
    font-family: 'Inconsolata', monospace;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
     -ms-border-radius: 5px;
         border-radius: 5px;
    margin: inherit $spacing-unit/2;
    font-size: 16px;
    line-height: 21px;
    max-width: 600px;
    background-color: #FFFFD8;
}

h1, h2, h3, h4, h5, h6,
p, blockquote,
ul, ol, dl,
figure, pre,
.article-date,
.post,
.media-container, hr {
    margin: 0 auto 32px;
    @include media-query($palm) {
        margin: 0 auto 24px;
    }
}

hr {
    opacity: .36;
}

header {
    padding: 0 $spacing-unit;
    position: fixed;
    width: 100%;
    z-index: 9;
    top: 0;
    line-height: $spacing-unit*2;
    background-color: $background-color;
    display: flex;
    justify-content: space-between;

    @include media-query($palm) {
        padding: 0 $spacing-unit/2;
        position: absolute;
    }

    h1 {
        font-size: 20px;
        margin-bottom: 0;
        font-weight: 900;
    }
    a.home-link {
        color: $base-color;
    }
}

nav {
    a {
        padding: 16px;
        letter-spacing: 1px;
    }
}

main {
    max-width: $laptop;
    margin: $spacing-unit*2 auto $spacing-unit * 3;
    padding: $spacing-unit;
    @include media-query($palm) {
        margin: $spacing-unit*2 auto $spacing-unit*2;
        padding: 0 $spacing-unit/2;
    }
}

// ##### Homepage

h1.page-heading {
    font-weight: 400;
    opacity: 0.87;
    @include media-query($palm) {
        line-height: 32px;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 12px;
    }
}
.post {
    padding-bottom: 0;

    .post-link-title {
        margin-bottom: 0;
        line-height: 40px;
        font-size: 34px;
        font-weight: normal;
        @include media-query($palm) {
            font-size: 24px;
            line-height: 32px;
        }
    }
    @include media-query($palm) {
        .post-excerpt {
            display: none;
        }
    }
    time, small {
        display: block;
        font-size:13px;
        color: #848484;
    }
}

// ##### post page

article.post, article.page {
    h1.post-title {
        margin-bottom: 16px;
        margin-bottom: 16px;
        font-weight: 300;
        letter-spacing: -.5px;
        line-height: 64px;
        font-size: 56px;
        @include media-query($palm) {
            line-height: 40px;
            font-size: 34px;
            font-weight: 400;
        }
    }
    .post-content {
        padding-bottom: 32px;
        p, blockquote, h2, h3, h4 {
            max-width: 600px;
        }
        p {
            letter-spacing: 0.5px;
            &:first-of-type {
                font-size: 20px;
                line-height: 32px;
                max-width: 100%;
                @include media-query($palm) {
                    font-size: 18px;
                    line-height: 28px;
                }
            }
            font-size: 18px;
            line-height: 32px;
            color:#424242;
            @include media-query($palm) {
                font-size: 15px;
                line-height: 24px;
            }
        }
        blockquote {
            border-top: 1px solid #ccc;
            max-width: 600px;
            position: relative;
            padding: 32px 64px 0;
            border-bottom: 1px solid #ccc;
            p {
                font-size: 18px !important;
            }
        }
        a:hover {
            text-decoration: underline;
        }
        .media-container {
            text-align: center;
            img { margin: 0 auto 32px; }
            small {
                margin-top: -20px;
                text-align: left;
            }
        }
        .media-container.slim {
            max-width: 600px;
        }
        ul {
            max-width: 600px;
            padding-left: 20px;
            li {
                padding: $spacing-unit/8;
            }
        }
    }
}

h2 {
    font-weight: 300;
    font-size: 44px;
    letter-spacing: -.5px;
    line-height: 52px;
    @include media-query($palm) {
        font-weight: 400;
        font-size: 24px;
        letter-spacing: 0;
        line-height: 32px;
    }
}
h3 {
    font-size: 21px;
    margin-bottom: 16px;
}
h4 {
    font-size: 18px;
    text-transform: uppercase;
    color: #848484;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

article.page {
    max-width: 600px;
    margin: auto;
    h1.post-title {
        margin-bottom: $spacing-unit;
    }
}

// https://github.com/jwarby/jekyll-pygments-themes

.highlight .hll { background-color: #ffffcc }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #d01040 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #d01040 } /* Literal.String.Backtick */
.highlight .sc { color: #d01040 } /* Literal.String.Char */
.highlight .sd { color: #d01040 } /* Literal.String.Doc */
.highlight .s2 { color: #d01040 } /* Literal.String.Double */
.highlight .se { color: #d01040 } /* Literal.String.Escape */
.highlight .sh { color: #d01040 } /* Literal.String.Heredoc */
.highlight .si { color: #d01040 } /* Literal.String.Interpol */
.highlight .sx { color: #d01040 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d01040 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */